 <div id="leftColumn">        
        <div id="menuTitle">
        	Our Schedule
        </div>
        
        <div id="sideContent">
        	<div id="schedDay">
            	Monday
            </div>
            <div id="schedPlace">
            	Hudson and King
            </div>
            <div id="schedDay">
            	Tuesday
            </div>
            <div id="schedPlace">
            	49th and 6th
            </div>
            <div id="schedDay">
            	Wednesday
            </div>
            <div id="schedPlace">
            	53rd b/w Madison and Park
            </div>
            <div id="schedDay">
            	Thursday
            </div>
            <div id="schedPlace">
            	50th and 6th
            </div>
            <div id="schedDay">
            	Friday
            </div>
            <div id="schedPlace">
            	46th and 6th
            </div>
        </div>
        
        <div id="menuTitle">
        	Find us
        </div>
        <div id="socialContent">
        	<table width="180" border="0" cellpadding="0">
              <tr>
                <td width="30" height="35"><img src="img/icons/facebook.png" /></td>
                <td height="35"><a href="http://www.facebook.com/ThePocketful">Find us on Facebook</a></td>
              </tr>
              <tr>
                <td width="30" height="35"><img src="img/icons/twitter-2.png" /></td>
                <td height="35"><a href="http://www.twitter.com/ThePocketful">Follow us on Twitter</a></td>
              </tr>
              <tr>
                <td width="30" height="35"><img src="img/icons/foursquare.png" /></td>
                <td height="35"><a href="http://foursquare.com/v/the-pocketful/4db8bcd790a0e3f61d601888">Check in on Foursquare</a></td>
              </tr>
               <!---       <tr>
        <td width="30" height="35"><img src="img/icons/yelp.png" /></td>
                <td height="35"><a href="http://www.yelp.com/biz/crisp-on-wheels-truck-new-york">Review us on Yelp</a></td>
              </tr> ---->
              <tr>
                <td width="30" height="35"><img src="img/icons/star.png" /></td>
                <td height="35">Hotline: (646) 400-5221</td>
              </tr>
              <tr>
                <td width="30" height="35"><img src="img/icons/email.png" /></td>
                <td height="35"><a href="mailto:crisponwheels1@eatatcrisp.com">Send us an Email</a></td>
              </tr>
            </table>
        </div>
        
    </div>
